@model IEnumerable<TumpahRasa_MVC.Models.tb_recipe>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<!-- Home Section Started -->
<section class="home" id="home">

    <div class="swiper home-slider">
        <div class="swiper-wrapper">

            @foreach (var item in Model.Take(3))
            {
                <div class="swiper-slide slide">
                    <div class="content">
                        <span>Our Special Dish</span>
                        <h3>@item.name</h3>
                        <p>@item.rating <i class="fas fa-star"></i></p>
                        <a class="btn" href="@Url.Action("Recipe", "TumpahRasa", new { id = item.id_recipe })">VIEW</a>
                    </div>
                    <div class="image">
                        <img src="~/Content/TumpahRasa/thumbs/@item.thumbnail" alt="image not available">
                    </div>
                </div>
            }

        </div>
        <div class="swiper-pagination"></div>
    </div>

</section>
<!-- Home Section Ended -->

<!-- About Section Started -->
<section class="about" id="about">

    <h3 class="sub-heading">Your Second Home</h3>
    <h1 class="heading">Story of Tumpah Rasa</h1>

    <div class="row">

        <div class="image">
            <img src="~/Content/TumpahRasa/asset/abt.jpg" alt="">
        </div>
        <div class="content">
            <p>
                Welcome to Tumpah Rasa, your digital kitchen of endless culinary inspiration! Embark on a journey
                where every page turns like a delicious chapter in a recipe book, and every dish tells a story of
                flavor, culture, and creativity.
                <br>
                <br>
                On Tumpah Rasa, we believe that cooking is an art form, a language spoken with ingredients,
                textures,
                and aromas. Whether you're a seasoned chef or a kitchen novice, our virtual shelves are stocked with
                recipes to tantalize taste buds, ignite imaginations, and bring people together around the universal
                love for food.
            </p>
            <div class="plus">
                <i class="fa-solid fa-heart-circle-bolt">
                    <h3>Loveable Taste</h3>
                </i>
                <i class="fa-solid fa-ranking-star">
                    <h3>Approved by People</h3>
                </i>
            </div>
        </div>

    </div>

</section>
<!-- About Section Ended -->

<!-- Dishes Section Started -->
<section class="dishes" id="recipe">

    <h3 class="sub-heading">Something You Never Felt Before!</h3>
    <h1 class="heading">Our Main Menus</h1>

    <div class="box-container">

        @foreach (var item in Model)
        {
            <div class="box">
                <div class="icons">
                    @using (Html.BeginForm("Loving", "TumpahRasa", new { id = item.id_recipe }, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <button type="submit" class="fas fa-heart stars"></button>
                    }
                    <p>@item.rating <i class="fas fa-star"></i></p>
                </div>
                <img src="~/Content/TumpahRasa/thumbs/@item.thumbnail" alt="image not available">
                <h3>@item.name</h3>
                <a href="@Url.Action("Recipe", "TumpahRasa", new { id = item.id_recipe })" class="btn">Open</a>
            </div>
        }

    </div>

</section>
<!-- Dishes Section Ended -->

<script>
@if (TempData["ErrorMessage"] != null)
    {
        <text>
        alert('@TempData["ErrorMessage"]');
        </text>
    }
</script>